/*This is how you comment in css*/

body {
 height: 100%;
 width: 100%;
 background-image: url(https://yt3.googleusercontent.com/olAOMh3jvt0w0czl5rKi8C-yDvvXTg058Ti8qV5FlXGF6abMtWbUOUalfXVdaex-9QYk0Mzhs4g=s900-c-k-c0x00ffffff-no-rj) ;
 background-position: right top;
 color: white;
}

h1, h2, h3{
    background-color: rgb(255, 0, 0, 0.8);
}
#fun {
    background-color: green;
    opacity: 0.5
}
p.naninf{
    background-color: blue; color: white;
}
/*universal selector/ overrule everything*/
* {
    color: white;
}
/*About Backgrounds*/
#background1{
    background-color: green;
    opacity: 0.5
}
#background2{
    background-image: url(https://yt3.googleusercontent.com/olAOMh3jvt0w0czl5rKi8C-yDvvXTg058Ti8qV5FlXGF6abMtWbUOUalfXVdaex-9QYk0Mzhs4g=s900-c-k-c0x00ffffff-no-rj) ;
    color: white
}
/*About Margins*/
#margin1{
    color: blue;
    margin-left: 200px;
    margin-top: 200px
}
#margin2{
    color: blue;
    margin: 50px 50px 50px 50px; /*50px alone represents all and 50px, 50px represent Top Bottom and Left Right is sequence*/
}
#margin3{
    color: blue;
    margin: inherit;
}
b {
    margin: 500px
}
/*about borders*/
#border1{
    border-style: dotted;
}
#border2{
    border-style: solid;
}
#border3{
    border-style: groove;
}
#border4{
    border-style: dashed;
}
#border5{
    border-style: double;
}
#border6{
    border-style: ridge;
}
#border7{
    border-style: outset;
}
#border8{
    border-style: inset;
}
#border9{
    border-style: hidden;
}
#border10{
    border-style: outset dashed inset solid; /*work clockwise*/
}
#border11{
    border-style: solid;
    border-width: 20px; /*work clockwise*/
}
#border12{
    border-style: dashed;
    border-width: 10px 5px 10px 5px; /*or you can do this 10px 5px*/
}
#border13{
    border-style: solid;
    border-color: green; /*You can use more than one color in a "element" Border*/
}
#border14{
    border-style: solid;
    border-color: white rebeccapurple green blue
}
#border15{
    border-top-style: dotted;
    border-top-color: blue;
}
#border16{
    border: 7px ridge yellow;
}
#border17{
    border: 5px solid orange;
    border-radius: 10px;
}
/*About Padding*/
#padding1{
    border: 10px dotted green;
    padding: 10px 7px;
}
/*About Height and Width*/
#Alt-Comp1{
    border: 10px solid white;
    height: 50px;
    width: 1000px;
}
#Alt-Comp2{
    border: 10px solid white;
    height: 50px;
    width: 50%;
}
#outline1{
    border: 7px ridge yellow;
    outline: solid;
}
#outline2{
    border: 7px ridge yellow;
    outline: solid;
    outline-offset: 5px;
}
/*About Texts*/
#text1{
    color: blue;
}
#text2{
    text-align: center;
}
#text3{
    text-align: justify;
}
#text4{
    text-align-last: center;
}
#text6{
    text-decoration-line:underline ;
}
#text7{
    text-decoration-line:line-through ;
}
#text8{
    text-decoration-line:overline;
}
#text9{
    text-decoration-line:overline underline;
}
#text10{
    text-decoration-line: underline;
    text-decoration-color: rgb(0, 255, 55);
}
#text11{
    text-decoration-line: underline;
    text-decoration-color: rgb(0, 255, 76);
    text-decoration-style: dotted;
}
#text12{
    text-decoration-line: overline;
    text-decoration-color: rgb(0, 255, 76);
    text-decoration-style: dashed;
    text-decoration-thickness: 10px;
}
#text13{
    text-decoration: line-through purple solid 7px;
}
#text14{
    text-decoration: none;
}
#text15{
    text-transform: lowercase;
}
#text16{
    text-transform: uppercase;
}
#text17{
    text-transform: capitalize;
}
#text18{
    text-indent: 20px
}
#text19{
    letter-spacing: 5px;
}
/*About Fonts*/
#font1{
    font-family: Arial, Helvetica, sans-serif;
}
#font2{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#font3{
    font-style: italic;
}
#font4{
    font-style: normal;
}
#font5{
    font-weight: bold;
}
#font6{
    font-size: 50px;
}
/*About tabels*/
table, th, td {
    border: 2px solid;
    width: 50%;
    border-collapse: collapse;

}
th, td{
    text-align: center;
    padding: 10px;
}
tr:hover { /*hover -> only happens when the mouse is over the element*/
    background-color: blue;
}
/*About Display*/
#display1{
    display: none;
}
#display2{
    visibility: hidden;
}
/*About Combinators in CSS*/
h1 b{
    color: green;
    text-align: left;
}
h1 > b{
    color: rgb(9, 0, 128);
    text-align: left;
}